*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-fe{
    justify-content: flex-end;
}
.jc-sa{
    justify-content: space-around;
}
.ai-c{
    align-items: center;
}