/* Add your css here */
nav{
    background-color: #1b262c;
    height: 56px;
    font-family: sans-serif;
}
.Nav-bar{
    flex: 1;
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
}
.Nav-items{
    padding-right: 1rem;
}
.Nav-brand{
    color: #f4f9f9;
    font-size: 1.4rem;
    cursor: pointer;
}
.Nav-search{
    flex-grow: 1;
}
.Nav-search input{
    width: 100%;
    padding: 0.3rem 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
}
.Nav-items p{
    font-size: 1rem;
    color: #f4f9f9;
    margin: auto;
}
.Nav-bar:nth-child(2) .Nav-items{
    line-height: 56px;
    cursor: pointer;
}
